.welcome-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.welcome-container {
    display: block;
    margin:0px auto;
    width: 100%;
    max-width: 500px;
}

.welcome-wrapper .welcome-hero {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url(../assets/img/welcome-hero.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.welcome-wrapper h1,
.welcome-wrapper h2,
.welcome-wrapper h3,
.welcome-wrapper h4,
.welcome-wrapper h5,
.welcome-wrapper h6 {
    color: #444;
    margin-bottom: 16px;
}

.welcome-wrapper p {
    margin-bottom: 16px;
    line-height: 1.6;
}